<div class="menu-bar">
  <button mat-stroked-button routerLink="/dashboard" color="warn">Register</button>
  <button mat-stroked-button routerLink="/booklist" color="warn">Booklist</button>
</div>

<h3>Booklist All</h3>

<app-search-books></app-search-books>

<div
  class="books book-list"
  cdkDropList
  #bookList="cdkDropList"
  [cdkDropListData]="bookService.books"
  (cdkDropListDropped)="drop($event)"
>
  <div
    class="book-box"
    *ngFor="let book of this.bookService.books"
    cdkDrag
  >
  <mat-card>
    <a
      class="booklist"
      routerLink="/book-detail/{{ book.id }}"
    >
      <h3 class="book">{{ book.title }} / {{ book.author }} / {{ book.published_date }}</h3>
    </a>
    <!-- <button class="delete" title="本の削除" (click)="delete(book)">X</button> -->
  </mat-card>
  </div>
</div>

<app-message></app-message>
