a {
  text-decoration: none;
  color: white;
}

header {
  margin-bottom: 20px;
  padding: 0 3%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #4751B1;
  color: white;
}

.title h2 {
  margin: 30px 0 30px 0;
  letter-spacing: 0.05em;
}

.title {
  cursor: pointer;
}

.header-right {
  display: flex;
  cursor: pointer;
  gap: 20px;
}

.header-right button {
  display: inline-block;
  margin: 16px 0;
}
